/* Animación para el menú */
.scale-fade-enter {
  opacity: 0;
  transform: scale(0.95);
}
.scale-fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.scale-fade-exit {
  opacity: 1;
  transform: scale(1);
}
.scale-fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 300ms, transform 300ms;
}

/* Animación para el modal */
.modal-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.modal-exit {
  opacity: 1;
  transform: translateY(0);
}
.modal-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

/* Estilos adicionales */
.menu-style {
  background: linear-gradient(
    to bottom,
    rgba(217, 217, 217, 0.2),
    rgba(115, 115, 115, 0.2)
  );
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.modal-content {
  background: linear-gradient(
    to bottom,
    rgba(217, 217, 217, 0.2),
    rgba(115, 115, 115, 0.2)
  );
}

.btn-confirm-red:hover {
  box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.8);
}

.btn-confirm-no:hover {
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
}

.btn-change-img:hover {
  box-shadow: 0 0 20px 5px rgba(59, 130, 246, 0.8);
}

.btn-change-blue:hover {
  box-shadow: 0 0 20px 5px rgba(59, 130, 246, 0.8);
}

.btn-save-changes:hover {
  box-shadow: 0 0 20px 5px rgba(0, 255, 0, 0.8);
}

.custum-file-upload input {
  display: none;
}

.svg-icon:hover {
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
}

.btn-shadow-white:hover {
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
}
